*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    background-color: lab(96.49% 1.34 0.46);
    height:100%;
    width:100%;

}
#nav{
    color:white;
    width:100%;
    height:10%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2b2a2a;
    font-size:30px;
    display:flex;
    justify-content: center;
    align-items: center;
}
#navbar{
    width:100%;
    height:8%;
    background-color:#F9F6EE;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type:none;
    font-family: Arial, Helvetica, sans-serif;
    gap:15px;
}
#container{
    height:74%;
    width:100%;
    background-color: #696760;
    display: grid;
    grid-template-columns:  20% 80%;
}
#footer{
    width: 100%;
    height:8%;
    color: rgb(247, 242, 242);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: hsl(40, 4%, 14%);
    align-items: center;
    justify-content: center;
    display: flex;
}
#menu{
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
    padding-top:25px;
    padding-left:30px;
} 
#menu h5{
    margin-top:15px;
    border-bottom: 1px dotted lch(11.2% 33.12 28.69 / 0.875);
    opacity:30%;
}
#main{
    background-color: blanchedalmond;

}
#main h2{
    font-family: Arial, Helvetica, sans-serif;
    padding-top:20px ;
    padding-left:20px;
}
#img{
    width:100%;
    height:60% ;
    background-color: #F9F6EE;
    margin-top: 10px;
    padding-left:70px;
    display: flex;
    gap:20px;

}
img{
    width:350px;
    height:280px;
    padding-top:35px;
    margin-top:10px;
    
}
#para{
    font-family: Arial, Helvetica, sans-serif;
    padding-top:10px;
    padding-left:10px;
}
#para h3{
    margin-top:7px;

}
#para ul{
    margin-top:7px;
    padding-left:20px;
}
#last{
    margin-top:5px;
}
#navbar li:hover{
color: rgb(227, 34, 34);
}